@model Category
@* The section Scripts is used to include script content specific to this view. *@
@section Scripts
{
	@* Include scripts for client-side validation *@
    <partial name="_ValidationScriptsPartial" />
}

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-0">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Delete Category</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form class="row" method="post" asp-controller="Category" asp-action="Delete">
			<div class="border p-3">
				
				@* <div asp-validation-summary="All"></div> *@
				<div class="form-floating py-2 col-12">
					@* In asp.net you don't have to provide a label or an input type (as long as you use asp-for), it handles it automatically. *@
					@* NOTE: Use [DisplayName("Name")] annotation in model to provide the display name *@
					<input asp-for="Name" class="form-control border-0 shadow" readonly />
					<label asp-for="Name" class="ms-2"></label>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-floating py-2 col-12">
					<input asp-for="DisplayOrder" class="form-control border-0 shadow" readonly />
					<label asp-for="DisplayOrder" class="ms-2"></label>
					<span asp-validation-for="DisplayOrder" class="text-danger"></span>
				</div>
				<div class="row pt-2">
					<div class="col-6 col-md-3">
						<button type="submit" class="btn btn-danger form-control">Delete</button>
					</div>
					<div class="col-6 col-md-3">
						<a asp-controller="Category" asp-action="Index" class="btn btn-secondary border form-control">
							Back to List
						</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>




			


