@model RoleManagementVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Manage User Role</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-action="RoleManagement" method="post" class="row" enctype="multipart/form-data">
            <input asp-for="User.Id" hidden />
            <div class="row">
                <div class="col-12">
                    <div class="border p-3">
                        <div class="form-floating py-2 col-12">
                            <input asp-for="User.Name" class="form-control border-0 shadow" readonly />
                            <label asp-for="User.Name" class="ms-2"></label>
                            <span asp-validation-for="User.Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select onchange="updateCompanyDropdownVisibility()" asp-for="User.Role" asp-items="@Model.RoleList" class="form-select border-0 shadow" id="roleSelect">
                            </select>
                            <label asp-for="User.Role" class="ms-2"></label>
                            <span asp-validation-for="User.Role" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12" id="companyDropdown" style="display: none;">
                            <select  asp-for="User.CompanyId" asp-items="@Model.CompanyList" class="form-select border-0 shadow">
                            </select>
                            <label asp-for="User.CompanyId" class="ms-2"></label>
                            <span asp-validation-for="User.CompanyId" class="text-danger"></span>
                        </div>
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                <button type="submit" class="btn btn-primary form-control">Update</button>
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="User" asp-action="Index" class="btn btn-outline-primary border form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {

	<script>
		updateCompanyDropdownVisibility();

		// If role is company, show company dropdown
		function updateCompanyDropdownVisibility() {
			var roleSelect = document.getElementById("roleSelect");
			var companyDropdown = document.getElementById("companyDropdown");
			var role = roleSelect.selectedOptions[0].text;
            console.log(role)
			companyDropdown.style.display = (role == "Company") ? "block" : "none";
		}
	</script>
	<partial name="_ValidationScriptsPartial" />
}
